{% extends 'snippets/base.html' %}
{% block title %}geekodour's blog{% endblock title %}

{% block page_content %}
  <div class="columns">
          <div class="column">
          things i write about..
          </div>
          <div class="column">
            <ul>
            {% for post in posts %}
            <li>
              <a href="/posts/{{ post.title|slug }}">{{ post.title }}</a>
            </li>
            {% endfor %}
            </ul>
          </div>
          <div class="column">
            {% include 'snippets/aboutbox.html' %}
          </div>
  </div>
{% endblock page_content %}
