{% extends 'snippets/base.html' %}
{% block title %}geekodour's blog{% endblock title %}

{% block page_content %}
  <div class="columns">
          <div class="column">
            <div class="section">
            {% include 'snippets/labelsBox.html' %}
            </div>
          </div>
          <div class="column is-half">
            {% block post_content %}
              <ul>
              {% for post in posts %}
              <li>
                <a href="/posts/{{ post.title|slug }}">{{ post.title }}</a>
              </li>
              {% endfor %}
              </ul>
            {% endblock %}
          </div>
          <div class="column">
            <div class="section">
              {% include 'snippets/aboutbox.html' %}
            </div>
          </div>
  </div>
{% endblock page_content %}
