{% extends 'index.html' %}
{% block title %}{{ post.title }}{% endblock title %}

{% block inlinejavascript %}
  <script>
  window.blogInfo = {
          pageType: 'post',
          postId: {{post.id}},
          comment_system: "{{ comment_system }}",
          disqus_id: "{{ disqus_id }}",
          firebaseEnabled: {{firebaseEnabled}}
  };
  </script>
{% endblock %}

{% block post_content %}
<div class="section">
  <div class="container">
    <div class="content">
      <h1>{{ post.title | capitalize }}</h1>
      {{ post.html | safe }}
    </div>
  </div>
</div>
<div class="">
  <div class="container">
          {% if firebaseEnabled %}
          <div class="section has-text-centered is-fluid">
            <button id="signin_button" class="button is-medium is-success">Sign In to Comment!</button>
            <div id="comment_box">
              <div class="field">
              <label class="label">Your Comment</label>
              <p class="control">
                <textarea class="textarea" placeholder="Write something.."></textarea>
              </p>
              </div>
            </div>
          </div>
          {% endif %}
          <div id="comments_container"></div>
          <div id="loadmore_container" class="has-text-centered"></div>
  </div>
</div>
{% endblock %}
