{% extends 'snippets/base.html' %}

{% block inlinejavascript %}
  {{ super() }}
  window.blogInfo.pageType = 'category';
  window.blogInfo.label = '{{label.name}}';
{% endblock %}

{% block pagecontent %}
   		<div id="main" class="eight columns">
           <div id="category_posts_container">

           {% if bc.others.template_cat_posts %}
             {% for post in posts %}
	   	     <article class="entry">
		       <header class="entry-header">
		       	<h4 class="entry-title">
                  <a href="{{ "/posts/"|addbaseurl }}{{ post.slug }}" title="" rel="category tag">{{ post.title }}</a>
		       	</h4>
		       	<div class="entry-meta">
		       		<ul>
                        <li>{{ post.date|date }}</li>
		       			<span class="meta-sep">&bull;</span>
		       		</ul>
		       	</div>
		       </header>
		     </article>
             {% endfor %}
           {% endif %}

            </div>
            {% if not bc.others.template_cat_posts %}
              <div id="loadmore_button_container" class="" style="text-align:center">
                <div id="loadmore_button" class="button is-loading">Load more</div>
              </div>
            {% endif %}
   		</div>
        {% include 'snippets/sidebar.html' %}
{% endblock %}
