{% extends 'snippets/base.html' %}

{% block inlinejavascript %}
  {{ super() }}
  window.blogInfo.pageType = 'post';
  window.blogInfo.postId = '{{ post.id }}';
{% endblock %}


{% block pagecontent %}
   <div id="content-wrap">
   	<div class="row">
   		<div id="main" class="eight columns">
   			<article class="entry">
				<header class="entry-header">
						<h2 class="entry-title"> {{ post.title }} </h2>
						<div class="entry-meta">
							<ul>
                                <li>{{ post.date|date }}</li>
								<span class="meta-sep">&bull;</span>
								<li>
                                    {% for label in post.labels %}
                                    <a href="#" title="" rel="category tag">{{ label.name }}</a>
                                    {% endfor %}
								</li>
								<span class="meta-sep">&bull;</span>
								<li>Jane Doe</li>
							</ul>
						</div>
				</header>
				<div class="entry-content-media">
                      <!--<div class="post-thumb"> <img src="images/m-farmerboy.jpg"></div>-->
				</div>

				<div class="entry-content"> {{ post.html|safe }} </div>

				<p class="tags">
  			        <span>Tagged in </span>:
                     {% for label in post.labels %}
                     <a href="#" title="" rel="category tag">{{ label.name }}</a>
                     {% endfor %}
  			    </p>
			</article>
            {% include 'snippets/post_bottom_navigation.html' %}
            {% include 'snippets/comment.html' %}
   		</div>
        {% include 'snippets/sidebar.html' %}
   	</div> <!-- end row -->
   </div> <!-- end content-wrap -->
{% endblock %}
