<div id="sidebar" class="four columns">

  {% if bc.comment.isGithubAuth and bc.comment.isGithub and not bc.comment.disabled  %}
            <div class="widget widget_search">
                <button id="signout_button" class="button" style="display:none">
                        SignOut
                </button>
            </div>
  {% endif %}
   			<div class="widget widget_search">
                  <h3>Search</h3>
                  <form action="#">
                  <input type="text" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search">
                  <input type="submit" value="" class="submit-search">
                  </form>
               </div>

   			<div class="widget widget_categories group">
   				<h3>Categories.</h3>
   				<ul>
                        {% for label in labels %}
                        <li><a href="{{ "/category/"|addbaseurl }}{{ label.slug }}" title="">{{ label.name }}</a></li>
                        {% endfor %}
					</ul>
				</div>

				<div class="widget widget_text group">
					<h3>About me.</h3>

   				<p>Hello I am someone you don't know</p>

   			</div>

   			<div class="widget widget_tags">
               <h3>Post Tags.</h3>

               <div class="tagcloud group">
                   {% for label in labels %}
                   <a href="{{ "/category/"|addbaseurl }}{{ label.slug }}" title="">{{ label.name }}</a>
                   {% endfor %}
               </div>
            </div>
</div>
