@import 'prism.css';
@import 'font-awesome.min.css';
@charset "UTF-8";

// Mixins
@import "components/mixins";

// Variables
@import "components/variables";

// Reset
@import "components/normalize";

// Components
@import "components/global";
@import "components/helpers";
@import "components/grid";
@import "components/typography";
@import "components/buttons";
@import "components/syntax-highlighting";

// Pages styling
@import "pages/layout";
@import "pages/tags";
@import "pages/archive";
@import "pages/post";

/*
* custom scss
*/
section.post {
  margin : 0;
  border-bottom: 1px dotted #454545;
}

.post-content {
  word-wrap: break-word;
}
.goto-github {
  padding: 1em;
  background-color: #f60;
  a {
    color: #fff;
  }
}
