#comments_container {
  .avatar {
    padding-right: 1em;
    img {
      border-radius: 50%;
    }
  }
  .comment-meta {
    font-size: 0.6em;
  }
}

.goto-github {
  padding: 1em;
  background-color: #e3e3e3;
}
