<!-- NOTE: the classes used in this snippet are used in the client side javascript -->
<!-- So it's recommended you make your styles over these classes or add more class but not remove them -->
<div id="comments" class="comments">

  <!-- if GithubAuth is enabled and github comments are enabled, the following div will show a comment box -->
  {% if bc.comment.isGithubAuth and bc.comment.isGithub and not bc.comment.disabled  %}
      <div class="respond">
        <div id="comment-info-box" class="" style="padding:1em">
            let me know what you think about this post in the comments.😅
        </div>
        <h3>Leave a Comment</h3>
        <form name="contactForm" id="contactForm" method="post" action="">
	       <fieldset>
             <div class="message group">
                <label  for="cMessage">Message <span class="required">*</span></label>
                <textarea name="cMessage"  id="cMessage" rows="10" cols="50" ></textarea>
             </div>
             <button id="signin_button" type="submit" class="submit">Submit</button>
	       </fieldset>
	    </form>
      </div>

  <!-- if GithubAuth is disabled, but github comments are enabled then "Go to issue will be shown" -->
  {% elif bc.comment.isGithub and not bc.comment.disabled %}
    <div class="goto-github" style="text-align:center">
        <a id="" class="button" href="https://github.com/{{ bc.username }}/{{ bc.repo }}/issues/{{ post.id }}">Go to github issue to comment</a>
    </div>

  {% endif %}

  <!-- github comments/disqus comments container, added by client javascript -->
  <div id="comments_container" class="commentlist"></div>
  <!-- end of github comments/disqus container -->

  <!-- loadmore buttons for github comments -->
  {% if not bc.comment.disabled and not bc.comment.isDisqus %}
    <div id="loadmore_button_container" class="" style="text-align:center">
      <div id="loadmore_button" class="button is-loading">Load more</div>
    </div>
  {% endif %}

</div>
