$family-primary: 'Montserrat'

@import "../node_modules/bulma/sass/utilities/_all"
@import "../node_modules/bulma/sass/base/_all"
@import "../node_modules/bulma/sass/layout/_all.sass"
@import "../node_modules/bulma/sass/grid/columns"
@import "../node_modules/bulma/sass/components/nav"
@import "../node_modules/bulma/sass/components/media"
@import "../node_modules/bulma/sass/elements/title"
@import "../node_modules/bulma/sass/elements/box"
@import "../node_modules/bulma/sass/elements/button"
@import "../node_modules/bulma/sass/elements/image"
@import "../node_modules/bulma/sass/elements/content"
@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import "./prism.css"

.nav
  background: #484848
  .nav-right a
  	color: white
  	&:hover
  		color: white
  		border-bottom: 2px solid red

.info-box
  border: 1px solid #484848
  background-color: blue
  border-radius: 1em
  padding: 1em
  margin: 0em 4em 4em 4em
  font-size: 0.8em

.info-box.cat
  border: none
  margin: 0em
  font-size: 0.8em
