{% extends 'index.html' %}
{% block title %}{{ label.name }}{% endblock title %}

{% block inlinejavascript %}
  <script>
  window.blogInfo = {
          pageType: 'category',
          bc: {{ bc|stringify|safe }},
          label: '{{label.name}}',
          baseurl: '{{ baseurl }}'
  };
  </script>
{% endblock %}

{% block post_content %}
<div class="section">
  <div class="container">
    <h3 class="title is-5">Posts tagged "{{label.name}}"</h3>
    <div id="category_posts_container"></div>
    <div id="loadmore_container" class="has-text-centered">
      <div class="button is-danger is-loading" id="loadmore_button">Load more</div>
    </div>
  </div>
</div>
{% endblock %}
