<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ bc.meta.blog_name }}</title>
  <meta name="author" content="{{ bc.author }}" />
  <meta name="description" content="" />
  <link rel="canonical" href="{{ '/'|addbaseurl  }}" />

  <link href="//fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{{ '/assets/img/favicon.png'|addbaseurl }}">
  <link rel="alternate" type="application/atom+xml" title="" href="{{ '/atom.xml'|addbaseurl }}" />
  <link rel="stylesheet" href="{{ '/assets/main.css'|addbaseurl }}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
  <script>
  {% block inlinejavascript %}
    window.blogInfo = {
            bc: {{ bc|stringify|safe }},
            baseurl: '{{ baseurl }}'
    };
  {% endblock %}
  </script>

</head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      {% include 'snippets/sidebar.html' %}
    </div>

    <div class="eleven columns content">
      {% block pagecontent %}{% endblock %}

      <div class="footer">
        {% include 'snippets/footer.html' %}
      </div>
    </div>
  </div>

  {% block javascript %}
    {% if bc.comment.isGithubAuth %} <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script> {% endif %}
    {% if bc.comment.isDisqus %} <script id="dsq-count-scr" src="//geekodour.disqus.com/count.js" async></script> {% endif %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src={{ "/assets/main.js"|addbaseurl }}></script>
  {% endblock javascript %}

</body>
</html>
