{% extends 'snippets/base.html' %}

{% block pagecontent %}
   <div id="content-wrap">
   	<div class="row">
   		<div id="main" class="eight columns">
   			<section class="page">
					<h2 class="entry-title"> About Page.  </h2>
					<p>Lorem ipsum Nisi enim est proident</p>
					<div class="row">
			      	<div class="six columns left">
				      	<h5>Our Process.</h5>
				      	<p>Sed ut</p>
				      	</div>
				      	<div class="six columns right">
				      	<h5>Our Approach.</h5>
				      	<p>Sed ut perspiciatis unde omnis iste </p>
			      	</div>
      			</div>

			      <div class="row">
			      	<div class="six columns left">
			      	<h5>Our Goal.</h5>
			      	<p>Sed ut perspiciatis unde omnis iste</p>
			      	</div>
			      	<div class="six columns right">
			      	<h5>Our Mission.</h5>
			      	<p>Sed ut perspiciatis unde omnis</p>
			      	</div>
			      </div>
		    </section>
   		</div>
        {% include 'snippets/sidebar.html' %}
   	</div> <!-- end row -->
   </div> <!-- end content-wrap -->
{% endblock %}
