{% extends 'index.html' %}
{% block title %}{{ post.title }}{% endblock title %}

{% block inlinejavascript %}
  <script>
  window.blogInfo = {
          pageType: 'post',
          postId: {{post.id}},
          bc: {{ bc|stringify|safe }}
  };
  </script>
{% endblock %}

{% block post_content %}
<div class="section">
  <div class="container">
    <div class="content">
      <div class="post-header">
      {% for label in post.labels %}
      <span class="tag">{{ label.name }}</span>
      {% endfor %}
      <span class="is-pulled-right">{{ post.date|date }}</span>
      </div>
      <h1>{{ post.title | capitalize }}</h1>
      {{ post.html | safe }}
    </div>
  </div>
</div>
<!-- comment section -->
<div {% if comment.isDisqus %}class="section"{% endif %}>
  {% if comment.isGithubAuth and comment.isGithub and not comment.disabled  %}
    <div class="section">
      <div id="comment_box">
        <div class="field">
        <label class="label">Your Comment</label>
        <p class="control">
          <textarea class="textarea" placeholder="Write something.."></textarea>
        </p>
        <p class="control">
          <button id="signin_button" class="button is-medium is-success is-full-width">SignIn and Comment</button>
        </p>
        </div>
      </div>
      <div id="comment-error-box" class="is-hidden">
        <small>Oops! need to write something to post a comment!</small>
      </div>
    </div>
  {% elif comment.isGithub and not comment.disabled %}
    <div class="section has-text-centered is-fluid">
      <button id="signin_button" class="button is-medium is-info">Go to Issue</button>
    </div>
  {% endif %}
  <div id="comments_container"></div>
  {% if not comment.disabled and not comment.isDisqus %}
    <div id="loadmore_container" class="has-text-centered">
      <div class="button is-danger is-loading" id="loadmore_button">Load more</div>
    </div>
  {% endif %}
</div>
<!-- end comment section -->
{% endblock %}
