{% extends 'index.html' %}
{% block title %}{{ post.title }}{% endblock title %}

{% block inlinejavascript %}
  <script>
  window.blogInfo = {
          pageType: 'post',
          postId: '{{post.id}}',
          bc: {{ bc|stringify|safe }}
  };
  // postId should be string or number?
  </script>
{% endblock %}

{% block post_content %}
<div class="section">
  <div class="container">
    <div class="content">
      <div class="post-header">
      {% for label in post.labels %}
      <span class="tag">{{ label.name }}</span>
      {% endfor %}
      <span class="is-pulled-right">{{ post.date|date }}</span>
      </div>
      <h1>{{ post.title | capitalize }}</h1>
      {{ post.html | safe }}
    </div>
  </div>
</div>
<!-- comment section -->
<div {% if bc.comment.isDisqus %}class="section"{% endif %}>
  {% if bc.comment.isGithubAuth and bc.comment.isGithub and not bc.comment.disabled  %}
    <div class="section">
      <div id="comment_box">
        <div id="comment-error-box" class="notification">
          let me know what you think about this post in the comments.😅
        </div>
        <div class="field">
        <label class="label">Your Comment</label>
        <p class="control">
          <textarea class="textarea no-round" placeholder="Write something.."></textarea>
        </p>
        <p class="control">
          <button id="signin_button" class="button is-medium is-info is-full-width no-round">comment</button>
        </p>
        </div>
      </div>
    </div>
  {% elif bc.comment.isGithub and not bc.comment.disabled %}
    <div class="section has-text-centered is-fluid">
      <button id="signin_button" class="button is-medium is-info">Go to Issue</button>
    </div>
  {% endif %}
  <div id="comments_container"></div>
  {% if not bc.comment.disabled and not bc.comment.isDisqus %}
    <div id="loadmore_container" class="has-text-centered">
      <div class="button is-danger is-loading" id="loadmore_button">Load more</div>
    </div>
  {% endif %}
</div>
<!-- end comment section -->
{% endblock %}
