<!-- paginations are part of index.html for blogposts -->
<div class="pagenav">

{% if pagination.prev %}
  {% if hasHomepage %}
    <a class="" rel="prev" href="{{ '/blog/'|addbaseurl }}{{ pagination.prev }}">Prev</a>
  {% else%}
    <a class="" rel="prev" href="{{ '/'|addbaseurl }}{{ pagination.prev }}">Prev</a>
  {% endif %}
{% endif %}

{% if pagination.next %}
  {% if hasHomepage %}
    <a class="" rel="next" href="{{ '/blog/'|addbaseurl }}{{ pagination.next }}">Next</a>
  {% else%}
    <a class="" rel="next" href="{{ '/'|addbaseurl }}{{ pagination.next }}">Nexk</a>
  {% endif %}
{% endif %}

</div>

