{% extends 'snippets/base.html' %}
{% block title %}{{ label.name }}{% endblock title %}

{% block inlinejavascript %}
  {{ super() }}
  window.blogInfo.pageType = 'category';
  window.blogInfo.label = '{{label.name}}';
{% endblock %}

{% block pagecontent %}
<article>
	<div class="">
           <div id="category_posts_container">
             {% if bc.others.template_cat_posts %}
               {% for post in posts %}
                 <div class="title">
                   <a href="{{ '/posts/'|addbaseurl }}{{ post.slug }}">{{ post.title }}</a>
                 </div>
               {% endfor %}
             {% endif %}
           </div>
           {% if not bc.others.template_cat_posts %}
             <div id="loadmore_button_container" class="" style="text-align:center">
               <div id="loadmore_button" class="button is-loading">Load more</div>
             </div>
           {% endif %}
	</div>
	<div class="divider"></div>
</article>
{% endblock %}
