{% extends 'snippets/base.html' %}
{% block title %}{{ post.title }}{% endblock title %}

{% block inlinejavascript %}
  {{ super() }}
  window.blogInfo.pageType = 'index';
  window.blogInfo.postId = '{{ post.id }}';
{% endblock %}

{% block pagecontent %}
<article>

	<div class="center">
		<h1>{{ post.title }}</h1>
		<time>{{ post.date|date }}</time>
        <br/>
        {% for label in post.labels %}
          <a href="{{ '/category/'|addbaseurl }}{{ label.slug }}" title="" rel="category tag">{{ label.name }}</a>
        {% endfor %}
	</div>

	<div class="divider"></div>

    {{ post.html|safe }}

</article>
{% include 'snippets/post_bottom_navigation.html' %}
{% include 'snippets/comment.html' %}


{% endblock %}
