{% extends 'snippets/base.html' %}
{% block title %}{{ bc.meta.blog_name }}{% endblock title %}

{% block inlinejavascript %}
  {{ super() }}
  window.blogInfo.pageType = 'index';
{% endblock %}

{% block pagecontent %}

	  {% for post in posts %}
        <section class="post">
          <header class="post-header">
            <p class="post-meta">
              <span class="post-date">
                {{ post.date|date }}
              </span>
              {% if post.labels.length > 0 %}
              •
              {% for label in post.labels %}
              <a class="post-cat" href="{{ '/category/'|addbaseurl }}{{ label.slug }}">{{ label.name }}</a> •
              {% endfor %}
              {% endif %}
            </p>
            <h4>
              <a href="{{ '/posts/'|addbaseurl }}{{ post.slug }}" class="post-title">{{ post.title }}</a>
            </h4>
          </header>
          <div class="post-description">
            <p>
              {{ post.body|truncate(200) }}
            </p>
          </div>
        </section>
	  {% endfor %}

    {% include 'snippets/pagination.html' %}

{% endblock %}
